{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "requests": "./src/requests",
        "modules": "./src/modules",
        "assets": "./src/assets",
        "images": "./src/assets/images",
      }
    }]
  ]
}
