{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "app": "./src",
        "api": "./src/api",
        "store": "./src/store",
        "config": "./src/config",
        "assets": "./src/assets",
        "modules": "./src/modules",
        "requests": "./src/requests",
        "images": "./src/assets/images"
      }
    }]
  ]
}
